<!DOCTYPE HTML>
<html>
	<%- include("inc/head") -%>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	<%- include('inc/header-menu') -%>
	<%- include('inc/header') -%>
	
	<%- include('inc/content/contacts') -%>

	<%- include('inc/footer') -%>

	</div>

	<%- include('inc/footer-gototop') -%>
	<%- include('inc/footer-scripts') -%>

	</body>
</html>

