<!DOCTYPE HTML>
<html>

<%- include("inc/head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<%- include('inc/header-menu') -%>
		<%- include('inc/header-index') -%>

		<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 class="cursive-font primary-color">Pratos Populares</h2>
						<p>Mussum Ipsum, cacilds vidis litro abertis. Diuretics paradis num copo é motivis de denguis. Quem num gosta di mé, boa
							gentis num é.</p>
					</div>
				</div>
				<div class="row">

          <% menus.forEach(function(row){ %>

            <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="<%= row.photo %>" class="fh5co-card-item image-popup">
                <figure>
                  <div class="overlay">
                    <i class="ti-plus"></i>
                  </div>
                  <img src="<%= row.photo %>" alt="Image" class="img-responsive">
                </figure>
                <div class="fh5co-text">
                  <h2><%= row.title %></h2>
                  <p><%= row.description %></p>
                  <p>
                    <span class="price cursive-font">R$<%= row.price %></span>
                  </p>
                </div>
              </a>
            </div>

          <% }); %>

				</div>
			</div>
		</div>

		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2 class="cursive-font">Nossos Serviços</h2>
						<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-face-smile"></i>
							</span>
							<h3>Pessoas Felizes</h3>
							<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi!</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-thought"></i>
							</span>
							<h3>Culinária Criativa</h3>
							<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi!</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-truck"></i>
							</span>
							<h3>Delivery</h3>
							<p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi!</p>
						</div>
					</div>


				</div>
			</div>
		</div>


		<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="gtco-container text-center">
				<div class="display-t">
					<div class="display-tc">
						<h1>&ldquo; Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta!&rdquo;</h1>
						<p>&mdash; Mussum, Humorista.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="gtco-counter" class="gtco-section">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2 class="cursive-font primary-color">Fatos</h2>
						<p>Delegadis gente finis, bibendum egestas augue arcu ut est. Cevadis im ampola pa arma uma pindureta!</p>
					</div>
				</div>

				<div class="row">

					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-center">
							<span class="counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Avaliação Média</span>

						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-center">
							<span class="counter js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Opções de Pratos</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-center">
							<span class="counter js-counter" data-from="0" data-to="32" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Chefes de Cozinha</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
						<div class="feature-center">
							<span class="counter js-counter" data-from="0" data-to="1985" data-speed="5000" data-refresh-interval="50">1</span>
							<span class="counter-label">Desde</span>

						</div>
					</div>

				</div>
			</div>
		</div>



		<div id="gtco-subscribe">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 class="cursive-font">Se inscrever</h2>
						<p>Receba as novidades do nosso restaurante</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<form class="form-inline">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label for="email" class="sr-only">E-mail</label>
									<input type="email" class="form-control" id="email" placeholder="Seu E-mail">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-default btn-block">Inscrever</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<%- include('inc/footer') -%>

	</div>

	<%- include('inc/footer-gototop') -%>
	<%- include('inc/footer-scripts') -%>

</body>

</html>